<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"> -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <title>Currency Converter</title>
</head>

<body>

    <div id="app">
        <div class="container my-5">
            
            <div class="row">
                <div class="col-md-6">
                    <label for="">From</label>
                    <select v-model="from" name="" id="" class="form-control">
                       
                        <option :value="currency.id" v-for="currency in formatedCurrencies">
                            {{currency.currencyName}}
                        </option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label for="">To</label>
                    <select v-model="to" name="" id="" class="form-control">
                        <option :value="currency.id" v-for="currency in formatedCurrencies">
                            {{currency.currencyName}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="row my-3">
                <div class="col-md-6 offset-md-3">
                    <input v-model="amount" type="text" class="form-control" placeholder="Valeur">
                </div>
            </div>

            <div class="text-center">
                <button @click="convertCurrencies()" :disabled="disabledButton" class="btn-lg btn-primary" id="convertButton">
                    {{loading ? "Converting..." : "Convert"}}
                </button>
            </div>

            <div class="text-center my-3">
                <h1>{{convertedValue}}</h1>
            </div>




        </div>





    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0/dist/vue.js"></script>
    <script src="script.js"></script>
</body>

</html>